
/manual_kirbytripledeluxe_seafo/hooks/v2
/manual_kirbytripledeluxe_seafo/hooks/Backup
/manual_kirbytripledeluxe_seafo.apworld
/manual_starboundfishing_seafo.apworld
/manual_hgssfishsanity_seafo.apworld
.idea/
ktd_release_build/
